
.main_corousel{
    width: 100%;
    height: 100%;
    // display: none;
    // background-color: aqua;

    .main_carousel_elements{
        width: 100%;
        height: 100%;
        // background-color: rgb(255, 255, 255);

        
        .swiper-button-next:after, .swiper-button-prev:after{
            background-color: #fff;
            font-size: 0.8rem;
            padding: 15px;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            padding-right: 16px;
            display: flex;
            align-items:center ;
            justify-content: center;
        }

        .swiper-button-next, .swiper-button-prev{
            // display: none;
            color: black;
            font-size: 1rem;
            margin-right: 1rem;
            margin-left: 1rem;
            opacity: 0.6;
            
        }

        .swiper-pagination-bullet{
            width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,40px));
            height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,2px));
            color: black;
            border-radius: 0;
        }

     
        .swiper{
            width: 100%;
            height: 100vh;
            // display: none;
            z-index: 0;
            // margin-right: 20rem;
            object-fit: fill;
            
            // .swiper-slide {
            //     width: 100%;
            //     height: 100%;
            //     text-align: center;
            //     font-size: 18px;
            //     // background: #fff;
            //     // width: 30rem;
            //     /* Center slide text vertically */
            //     display: -webkit-box;
            //     display: -ms-flexbox;
            //     display: -webkit-flex;
            //     display: flex;
            //     -webkit-box-pack: center;
            //     -ms-flex-pack: center;
            //     -webkit-justify-content: center;
            //     justify-content:center;
            //     -webkit-box-align: center;
            //     -ms-flex-align: center;
            //     -webkit-align-items: center;
            //     align-items: center;
            //     object-fit: fill;
            //   }
        
            //   .swiper-slide img {
               
            //     width: 100%;
            //     height: 100%;
            //     object-fit: cover;
            //   }

        }
    }
}

@media only screen and (max-width: 480px){
    .main_corousel{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: rgba(7, 54, 54, 0.192);
        
        .main_carousel_elements{
            width: 100%;
            height: 100%;
            
            .swiper{
                width: 100%;
                height: 100%;
                .swiper-slide img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                      }
            }
            
        }
    }
}