.header_mobile_comp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    .header_mobile_back_black{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--white);
        height: 100%;
    }

    .header_mobile_back_white{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0);
        height: 100%;
        transition:all ease 0.6s;
    }
    .header_mobile_comp_layout{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // margin-left: 0.2rem;
        margin-right: 1rem;
        height: 100%;
        transition:all ease 4s;
        // padding-left: 0.9rem;
        // padding-right: 1.3rem;
        

        .header_mobile_comp_left{
           
            width: 100%;
            height: 100%;
            position: relative;
            // display: flex;
            // justify-content: center;
            align-items: center;

            // background-color: aliceblue;
            .header_mobile_burger{
                // background-color: aqua;
                width: 3rem;
                margin-top: 0.4rem;
            }

            .header_side_nav_layout{
                .header_side_nava{
                    // display: none;
                    transform: translateY(0px) translateX(-200px);
                }
                .header_side_nav{
                    width: 75%;
                    height: 100%;
                    background-color: var(--white);
                    position: fixed;
                    top: 64px;
                    transition:all ease 0.6s;

                    .header_side_nav_layout_element_men_hide{
                        transform: translateY(-0px) translateX(-300px);
                        position: absolute;
                        // display: none;
                        // background-color: aquamarine;
                    }

                    .header_side_nav_layout_element_men{
                        width: 75%;
                        height: 100%;
                        position: fixed;
                        background-color: var(--white);
                        transition:all ease 0.6s;
                        // transform: translateY(0px) translateX(300px);
                       

                        .header_side_nav_layout_element_men_image{
                            margin-left: 2rem;
                            margin-top: 4rem;
                            img{
                                width: 90%;
                                height: 80%;
                                object-fit: contain;
                                // margin: 3rem;
                            }
                        }


                         .header_side_nav_layout_element_men_heading{
                                display: flex;
                                flex-direction: row-reverse;
                                justify-content: space-between;
                                align-items: center;
                                height: 3rem;
                                background-color: var(--lightgray);
                                font-size: 1.1rem;
                                margin-bottom: 1rem;
                                .header_side_nav_layout_element_icon{
                                    margin-left: 1rem;
                                }
                        }

                        .header_side_nav_layout_element_men_elements{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                height: 3rem;
                                // background-color: blue;
                                padding: 0 1.5rem 0 1.5rem ;
                                .header_side_nav_layout_element_name{
                                    width: 100%;
                                    padding: 1rem;
                                    font-size: 0.8rem;
                                }
                                .header_side_nav_layout_element_icon{
                                    font-size: 1rem;
                                    padding: 1rem;
                                }
                        }


                    }
                  
                        .header_side_nav_layout_element{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            
                            .header_side_nav_white_layout{
                                height: 40%;
                                background-color: var(--white);
                                

                                .header_side_nav_white_layout_bg{
                                    display: flex;
                                    flex-direction: row;
                                    // align-items: center;
                                    justify-content: center;
                                    height: 4rem;
                                    // background-color: blue;
                                    align-items: center;
                                    letter-spacing: 1px;
                                    .header_side_nav_layout_element_name{
                                        width: 100%;
                                        padding: 1rem;
                                        font-size: 0.9rem;
                                    }
                                    .header_side_nav_layout_element_icon{
                                        // width: 100%;
                                        font-size: 1.4rem;
                                        padding: 1rem;
                                    }
                                }
                                
                               
                            }
                            .header_side_nav_blue_layout{
                                height: 100%;
                                background-color: var(--blue);
                                padding-top: 2rem;
                                .header_side_nav_blue_layout_bg{
                                    display: flex;
                                    flex-direction: row;
                                    // align-items: center;
                                    justify-content: center;
                                    height: 4rem;
                                    // background-color: blue;
                                    align-items: center;
                                    letter-spacing: 1.5px;
                                    .header_side_nav_blue_layout_element{
                                        width: 100%;
                                        padding: 1rem;
                                        font-size: 1rem;
                                        color: var(--white);
                                        display: flex;
                                        flex-direction: row;
                                        // justify-content: center;
                                        align-items: center;
                                        .header_side_nav_blue_layout_element_icon{
                                            margin-right: 1rem;
                                            // width: 3px;
                                            height: 0.85rem;
                                        }
                                    }
                                    .header_side_nav_layout_element_icon{
                                        // width: 100%;
                                        font-size: 1.4rem;
                                        padding: 1rem;
                                        color: var(--white);
                                        display: none;
                                    }
                                }
                                
                            }
                            
                        }
                }
            }
            
        }

        .header_mobile_comp_logo_black{
            width: 100%;
            img{
                width: 100%;
                height: 1.9rem;
                object-fit: contain;
                filter: none !important;            
            }
        }
        .header_mobile_comp_logo{
            width: 100%;
            img{
                width: 100%;
                height: 1.9rem;
                object-fit:contain;
                filter: brightness(0) invert(1);            
            }
        }

        .header_mobile_comp_right_black{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: end;
            font-size: 1.2rem;
            color: var(--blue);
            
            .header_mobile_comp_icon{
                margin-right: 0.2rem;
                margin-left: 0.6rem;
            }
        }
        
        .header_mobile_comp_right{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: end;
            font-size: 1.2rem;
            color: var(--white);
            .header_mobile_comp_icon{
                margin-right: 0.2rem;
                margin-left: 0.6rem;
                
            }
        }
    }
}   