.button_comp{
    font-size: 0.7rem;
    color: var(--blue);
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--blue);
    cursor: pointer;
    .button_icon{
        margin-right: 0.7rem;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover{
        color: white;
        background-color: var(--blue);
        // display: none;
    }
}