nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 4em;
  // background-color: #E8E8E8FF;  

  .BurgerMenu__container {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    
    i {
      
      width: 24px;
      height: 1.6px;
      margin: 2px;
      border-radius: 4px;
      transition:all ease 0.5s;
    }

    .open:nth-child(1) {
      transform: rotate(45deg) translateY(5px) translateX(3px);
      background-color: var(--blue)
      
    }

    .open:nth-child(2) {
      opacity: 0;
      background-color: var(--blue)
    }

    .open:nth-child(3) {
      transform: rotate(-45deg) translateY(-5px) translateX(3px);
      background-color: var(--blue)
    }


    .close:nth-child(1) {
      transform: rotate(0) translateY(0);
      background-color: var(--white);
      // display: none;
    }

    .close:nth-child(2) {
      opacity: 1;
      background-color: var(--white);
      display: none;
    }

    .close:nth-child(3) {
      transform: rotate(0) translateY(0);
      background-color: var(--white);
    }
  }
}