.returnex{
    width:calc(100%-4rem);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 68px;
    margin-bottom: 5rem;
    font-weight: 500;
    color:var(--black);
    font-size: 0.6875rem;
    letter-spacing: 1px;
    line-height: 1.9rem;

}